.rec-form {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  gap: 4px;
}

.type-radio {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.form-row.two {
  display: flex;
  gap: 12px;

  mat-form-field,
  app-money-input {
    flex: 1;
  }

  app-money-input {
    display: block;
  }
}

.full {
  width: 100%;
}
